:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, Knewave;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Path: queuein-frontend/src/index.css */

.hero {
  background-color: #5AA9E6;
  height: 100vh; /* Full height */
  width: 100vw;
}

.inputbox{
  border-radius: 100px;
  background: #FFF;
  width: 640px;
  height: 72px;
  flex-shrink: 0;
}

.enterBtn{
  width: 176px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #FFCA0A;
  color: #000;
  text-align: center;
  font-family: "Seymour One";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */

}

.cyoBtn{
  border-radius: 100px;
  background: #FFCA0A;
  width: 640px;
  height: 81px;
  flex-shrink: 0;

}
.cyoText{
  color: #FFFCFC;
text-align: center;
font-family: "Seymour One";
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 83.333% */
}